{% extends "base.html.jinja" %}
{% block title %}
O autorze
{% endblock title %}
{% block content %}
   <div class="container">
      <div class="container text-center ms-1 d-none d-sm-inline">
      <span class="ms-1 d-none d-sm-inline"><p class="fs-4">Witaj, nazywam się Klaudia Mróz. :)</p>
      </div>
            <h3>Znane przeze mnie technologie informatyczne:</h3>
            <ul>
            <li class="fs-4">Python i C++</li>
            <li class="fs-4">HTML i CSS</li>
            <li class="fs-4">programy Visual Studio Code oraz Codeblocks</li>
            <li class="fs-4">pakiety Microsoft Office i Libre Office</li>
            <li class="fs-4">systemy Microsoft Windows oraz Linux</li>
            <li class="fs-4">obsługa urządzeń sieciowych takich jak rutery, przełączniki, centrale</li>
            <li class="fs-4">projektowanie, wykonywanie i konfiguracja lokalnych sieci komputerowych</li>
            </ul>
            <div class="container text-center ms-1 d-none d-sm-inline"></div>
            <h3>Moje wykształcenie:</h3>
            <ul>
            <li class="fs-4">absolwentka Zespołu Szkół Technicznych i Placówek im. Stanisława Staszica w Nowym Targu - technik teleinformatyk</li>
            <li class="fs-4">dyplom zawodowy: technik teleinformatyk</li>
            <li class="fs-4">certyfikat kwalifikacji zawodowej: INF.07. Montaż i konfiguracja lokalnych sieci komputerowych oraz administrowanie systemami operacyjnymi</li>
            <li class="fs-4">certyfikat kwalifikacji zawodowej: INF.08. Eksploatacja i konfiguracja oraz administrowanie sieciami rozległymi</li>
            </ul>
            <p class="fs-4">Aktualnie studiuję Informatykę ekonomiczną na Akademii Nauk Stosowanych w Nowym Targu.</p>

    </div>
{% endblock %}