{% extends "base.html.jinja" %}
{% block content %}
            <!-- Tekst -->
    <div class="container">
      <div class="container text-center">
        <h3>Witaj na stronie!</h4>
      <span class="ms-1 d-none d-sm-inline fs-5"><p>Web scraping to technika pozyskiwania danych z witryn internetowych. Dzięki niej można automatycznie gromadzić informacje dostępne w sieci, sortować je i wykorzystywać.</p>
      <p>Ta aplikacja pobiera dane ze strony Ceneo.pl.</p></span>
      </div>
    </div>
            <!-- Tekst -->
{% endblock %}