{% extends "base.html.jinja" %}
{% block title %}
Lista produktów
{% endblock title %}
{% block content %}
{{products}}
<div class="card-group text-center">
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
</div>

<p></p>

<div class="card-group text-center">
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
</div>

<p></p>

<div class="card-group text-center">
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Zdjęcie">
    <div class="card-body">
      <h5 class="card-title">Produkt</h5>
      <p class="card-text">Opis produktu.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Strona produktu</a>
    </div>
  </div>
</div>
{% endblock %}